header {
  height: 50px;
  padding: 30px 0 0;
  background-color: black;
  color: white;
}

.headerbox {
  padding: 0 70px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.linkbox{
  display: flex;
  text-align: center;
}

.logout{
  color:white;
  background-color: black;
  padding: 5px 0 0 0;
}

a {
  font-size: 12px;
  color: white;
  text-decoration: none;
  padding: 10px;
}
.ttl{
  font-size:20px;
  font-weight: bold;
}